{% extends "bootstrap-base.html" %}

{% load static %}

{% block title %}Profile List{% endblock %}

{% block main %}
    <h3>Profiles</h3>

    <br>
    <div class="border border-secondary border-2 m-2 p-2">
        <table class="table table-sm mb-1">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Profile</th>
                    <th scope="col">Description</th>
                    <th scope="col">Definition</th>
                </tr>
            </thead>
            <tbody>
                {% for profile in profiles %}
                    <tr>
                        <td><code>{{ profile.name }}</code></td>
                        <td><code>{{ profile.description }}</code></td>
                        <td><code>{{ profile.definition }}</code></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
